@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 220 13% 13%;
  --border: 220 13% 91%;
  --card: 0 0% 98%;
  --card-foreground: 220 13% 13%;
  --popover: 0 0% 96%;
  --popover-foreground: 220 13% 13%;
  --primary: 217 91% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 220 5% 93%;
  --secondary-foreground: 220 13% 13%;
  --muted: 220 5% 94%;
  --muted-foreground: 220 9% 46%;
  --accent: 220 5% 95%;
  --accent-foreground: 220 13% 13%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;
  --input: 220 13% 75%;
  --ring: 217 91% 60%;
  --chart-1: 217 91% 60%;
  --chart-2: 0 84% 60%;
  --chart-3: 45 93% 57%;
  --chart-4: 220 13% 35%;
  --chart-5: 217 91% 45%;
  --radius: 0.5rem;
}

.dark {
  --background: 220 5% 9%;
  --foreground: 0 0% 98%;
  --border: 220 5% 18%;
  --card: 220 5% 11%;
  --card-foreground: 0 0% 98%;
  --popover: 220 5% 15%;
  --popover-foreground: 0 0% 98%;
  --primary: 217 91% 60%;
  --primary-foreground: 0 0% 100%;
  --secondary: 220 5% 18%;
  --secondary-foreground: 0 0% 98%;
  --muted: 220 5% 17%;
  --muted-foreground: 220 5% 65%;
  --accent: 220 5% 16%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;
  --input: 220 5% 35%;
  --ring: 217 91% 60%;
  --chart-1: 217 91% 75%;
  --chart-2: 0 84% 75%;
  --chart-3: 45 93% 65%;
  --chart-4: 220 5% 75%;
  --chart-5: 217 91% 65%;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}
